<p>First Name: {{ name }}</p>
<p> Last Name: {{ lastName }}</p>
<p>Age: {{ age }}</p>

<h1>My Clients</h1>

<div *ngFor="let client of clients">
  <app-client [client]="client"></app-client>
  <hr>
</div>
