<h3>{{title}}</h3>
<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
  <button mat-raised-button color="primary" (click)="plusOneClick()">
    <mat-icon>exposure_plus_1</mat-icon>
  </button>

  <button mat-raised-button color="primary" (click)="plusTwoClick()">
    <mat-icon>exposure_plus_2</mat-icon>
  </button>

  <button mat-raised-button color="accent" (click)="minusOneClick()">
    <mat-icon>exposure_neg_1</mat-icon>
  </button>

  <button mat-raised-button color="accent" (click)="minusTwoClick()">
    <mat-icon>exposure_neg_2</mat-icon>
  </button>
</div>
