<mat-card>
  <mat-card-title>
    Select
  </mat-card-title>
  <mat-card-content>
    Please, select one class:
    <mat-form-field>
      <mat-select placeholder="Choose the Class:"[(ngModel)]="myclass" name="myClass">
        <mat-option value="myclass1"> CLass 1 </mat-option>
        <mat-option value="myclass2"> CLass 2 </mat-option>
        <mat-option value="myclass3"> CLass 3 </mat-option>
        <mat-option value="myclass4"> CLass 4 </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <p>Result</p>
    <p [ngClass]="myclass">TEST</p>
  </mat-card-footer>
</mat-card>
