<!-- <p *ngFor="let name of names"> {{ name }} </p> Criando um loop em cima do array nomes -->
<!-- <p *ngFor="let name of names; let i=index"> {{ i }} {{ name }} </p> -->
<!-- Criar uma variável index dentro do ngFor para armazenar o index -->

<mat-card>
  <mat-card-content>
    <mat-selection-list #selectedNames>
      <mat-list-option *ngFor="let name of names" color="primary"> {{ name }} </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-footer>
    <p>
      Options selected: {{ selectedNames.selectedOptions.selected.length }}
    </p>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-list>
      <h3 matSubheader>Names</h3>
      <mat-list-item *ngFor="let name of names">
        <mat-icon matListIcon>person</mat-icon>
        <h4 matLine> {{ name }} </h4>
      </mat-list-item>
    </mat-list>
    <mat-list>

      <mat-divider></mat-divider>

      <h3 matSubheader>Cidades</h3>
      <mat-list-item *ngFor="let city of cities">
        <mat-icon matListIcon>location_city</mat-icon>
        <h4 matLine> {{ city.name }} </h4>
        <h4 matLine> {{ city.state }} </h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
