<mat-card>
  <mat-card-content>
    <ul>
      <ng-container *ngFor="let user of users">
        <li *ngIf="user.role=='admin'">
          {{ user.login }}
        </li>
      </ng-container>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-label mat-subheader>Users</mat-label>
      <ng-container *ngFor="let user of users">

        <mat-list-item *ngIf="user.role=='admin'">
          <mat-icon mat-list-icon>folder</mat-icon>
          {{ user.login }}
          {{ user.role }}
          {{ user.lastlogin | date}}
          <button mat-stroked-button color="primary">SAVE</button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
