<!--
<app-ng-style></app-ng-style>
<app-ng-class></app-ng-class>
<app-ng-if></app-ng-if>
 -->
<!-- <app-ng-for></app-ng-for> -->

<!-- <app-ng-for-form></app-ng-for-form> -->

<!-- <app-ng-switch></app-ng-switch> -->

<!-- <app-ng-template></app-ng-template> -->

<!-- <app-ng-container></app-ng-container> -->

<app-ng-content>
  <p>My name is <strong>Homer Simpson</strong>, nice to meet you.</p>
  <p>One more beer, please!</p>
</app-ng-content>
