<mat-card>
  <mat-card-header>
    <mat-card-title>Homer Simpson</mat-card-title>
    <mat-card-subtitle>Duff!</mat-card-subtitle>
  </mat-card-header>
  <img class="card-image" mat-card-image
    src="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2014/10/23/homer-simpson-face.jpg"
    alt="Homer Simpson">
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">LIKE</button>
    <button mat-button color="primary">SHARE</button>
  </mat-card-actions>
</mat-card>
