<!-- O ngIf trabalha com a existência ou não de um determinado componente relacionado com uma expressão lógica
se essa expressão lógica for verdadeira então esse componente vai existir e se ela for falsa não vai existir
Então o componente será criado de acordo com alguma expressão lógica-->

<mat-card>
  <mat-card-title>
    Select
  </mat-card-title>

  <mat-card-content>
    <section>
      <p>Select the fields you need:</p>
    </section>
    <section>
      <mat-checkbox [(ngModel)]="showName" name="showName" color="primary">Name</mat-checkbox>
      <mat-checkbox [(ngModel)]="showAddress" name="showAddress" color="primary">Address</mat-checkbox>
      <mat-checkbox [(ngModel)]="showPhone" name="showPhone" color="primary">Phone</mat-checkbox>
      <mat-checkbox [(ngModel)]="showAge" name="showAge" color="primary">Age</mat-checkbox>
    </section>

    <br><br>

    <section>
      <mat-form-field *ngIf="showName">
        <input matInput placeholder="Name">
      </mat-form-field>

      <mat-form-field *ngIf="showAddress">
        <input matInput placeholder="Address">
      </mat-form-field>

      <mat-form-field *ngIf="showPhone">
        <input matInput placeholder="Phone">
      </mat-form-field>

      <mat-form-field *ngIf="showAge">
        <input matInput placeholder="Age" type="number">
      </mat-form-field>
    </section>
  </mat-card-content>

  <mat-card-footer>
    <app-sub-ng-if *ngIf="showName && showAddress && showPhone && showAge"></app-sub-ng-if>
  </mat-card-footer>

</mat-card>
