<mat-card class="card">
  <mat-card-content>

    <section>
      <mat-form-field class="form-field">
        <input matInput placeholder="First Name" name="name" [(ngModel)]="name" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Address" name="address" [(ngModel)]="address" />
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Phone" name="phone" [(ngModel)]="phone" />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-select placeholder="City" [(ngModel)]="city" name="city">
          <mat-option *ngFor="let city of cities" [value]="city.name">
            {{ city.name }} - {{ city.state }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Age" name="age" [(ngModel)]="age" />
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card" *ngIf="clientes.length > 0">
  <mat-card-content>
    <section>

      <mat-list>
        <h3 matHeader>Clients</h3>
        <mat-divider></mat-divider>

        <mat-list-item *ngFor="let client of clientes; let i=index">
          <mat-icon matListIcon>person</mat-icon>
          <h2 matLine>Name: {{ client.name }}</h2>
          <h2 matLine>Address: {{ client.address }}</h2>
          <h2 matLine>Phone: {{ client.phone }}</h2>
          <h2 matLine>Age: {{ client.age }}</h2>
          <h2 matLine>City: {{ client.city }}</h2>
          <button mat-icon-button color="accent" (click)="delete(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>

    </section>
  </mat-card-content>
</mat-card>
