<mat-card class="mycard">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Person data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>First name: {{ person.firstName }}</p>
    <p>Last name: {{ person.lastName }}</p>
    <p>Age: {{ person.age }} </p>
    <p>Address: {{ person.address }}</p>
  </mat-card-content>
  <form>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="{{ person.firstName }}">
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
