<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <span>My Store</span>
  <span></span>
  <div fxLayoutGap="20px">
    <a mat-raised-button routerLink="dvds" routerLinkActive="mat-accent">DVDs</a>
    <a mat-raised-button routerLink="books" routerLinkActive="mat-accent">Books</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
