<p>
  event-binding works!
</p>

<section>
  <button mat-button color="warn" (click)="save()" [disabled]="!btnEnable"> {{ buttonAction }} </button>
  <button mat-button color="warn" (click)="inc()" [disabled]="!btnEnable"> {{ buttonName }} </button>
</section>

<section>
  <button mat-button color="primary" [disabled]="!btnEnable"> {{ conteudoBotao1 }} </button>
  <button mat-button color="primary" [disabled]="!btnEnable"> {{ conteudoBotao2 }} </button>
  <button mat-button color="primary" (click)="disable()"> Disable </button>
  <mat-progress-spinner color="primary" [mode]="SpinnerMode" [value]="valueinc">
  </mat-progress-spinner>
</section>

<section>
  <p>
    <mat-checkbox value="" color="warn" (change)="cbChange($event)">Disable / Enable</mat-checkbox>
  </p>
  <p>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Cars</mat-label>
          <mat-select matNativeControl required [disabled]="selectDisabled" (selectionChange)="selectionChange($event)">
            <mat-option value="1">Volvo</mat-option>
            <mat-option value="2">Saab</mat-option>
            <mat-option value="3">Mercedes</mat-option>
            <mat-option value="4">Audi</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <p>Selected Option {{ selectedOption }}</p>
      </mat-card-actions>
    </mat-card>
  </p>
</section>

<mat-divider></mat-divider>

<section>
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="First Name"
        (input)="inputName = $event.target.value"
        [value]="inputName">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      Name: {{ inputName }}
    </mat-card-actions>
  </mat-card>
</section>
